<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>NaNavalha</title>
  <link rel="stylesheet" href="assets/styles.css" />
  <script src="assets/index.js"></script>
</head>
<body>

  <header>
    <div class="logo">NaNavalha</div>
    <nav>
      <a href="cadastro.html">Cadastro</a>
      <a href="login.html">Login</a>
      <a href="contato.html">Contato</a>
      <a href="faq.html">FAQ</a>
    </nav>
  </header>

  <div class="main-container">

    <aside class="sidebar">
      <ul>
        <li><a href="compromissos.html">Meus Compromissos</a></li>
        <li><a href="usuario.html">Minhas Informações</a></li>
      </ul>
    </aside>

    <main class="content">
      <h2>Barbearias Cadastradas</h2>
      <div class="barbearias-grid">
        <a href="barbearia.html" class="barbearia-card" style="text-decoration: none; color: inherit;">
          <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/10071559-barbearia-logo-barbearia-logo-modelo-vetor.jpg" alt="Barbearia 1" />
          <h3>Barbearia 1</h3>
          <p>HORÁRIO DE FUNCIONAMENTO: 09:00 AS 21:00</p>
          <p>Endereço fictício 123</p>
        </a>

        <a href="barbearia.html" class="barbearia-card" style="text-decoration: none; color: inherit;">
          <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/10071559-barbearia-logo-barbearia-logo-modelo-vetor.jpg" alt="Barbearia 2" />
          <h3>Barbearia 2</h3>
          <p>HORÁRIO DE FUNCIONAMENTO: 07:30 AS 19:30</p>
          <p>Endereço fictício 456</p>
        </a>

        <a href="barbearia.html" class="barbearia-card" style="text-decoration: none; color: inherit;">
          <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/10071559-barbearia-logo-barbearia-logo-modelo-vetor.jpg" alt="Barbearia 3" />
          <h3>Barbearia 3</h3>
          <p>HORÁRIO DE FUNCIONAMENTO: 08:00 AS 22:00</p>
          <p>Endereço fictício 789</p>
        </a>
      </div>
    </main>
  </div>
</body>
</html>
